@primary-color: #F05327;
@white-color: #ffff;

.corner-image {
  transform: rotate(180deg);
  max-height: 190.95px;
  max-width: 453.71px
}

.login-header {
  color: "#19191B"
}

.left-bottom-image {
  float: left;
  max-height: 350px;
  max-width: 649px;
}

.left-top-corner {
  height: 296.65px;
  width: 321.45px;
  background-color: @primary-color;
}

.logo-login {
  max-height: 130px;
  max-width: 385px;
}

.content-container {
  padding-top: 20.8vh;
  padding-left: 180px;
  padding-right: 5vw;
}

.divider-height {
  height: 21.8vh !important;
}

.login-button {
  background: @primary-color !important;
  color: white !important;
}

.form-content {
  float: right;
  width: 27vw !important;
}