.icon-color {
  color: #E67E22
}

.disabled-label {
  color: #C7C7C7 !important;
  margin-right:15% !important
}

.disabled-input {
  border-bottom: 1px solid #C4C4C4 !important
}

.margin-10 {
  margin-top: 10px !important
}
