@primary-color: #F05327;
@white-color: #ffff;

.login-corner-image {
  height: 96vh !important;
}

.header-login-client {
  color: #FC9B04 !important
}

.font-size-button {
  font-size: 18px !important;
}
