.offer-container {
	background-color: #EBE8E8 !important;
	margin-top: 0 !important;
}
.catagory label{
	padding-left: 30px !important;
}
.ui.rating .active.icon{
	color: #FC9B04 !important;
}
.ui.rating .icon.selected, .ui.rating .icon.selected.active{
	color: #FC9B04 !important;
}
.details-button{
	color: #FFFFFF !important;
	background: transparent !important;
	border: 3px solid #FFFFFF !important;
	box-sizing: border-box !important;
	width: 152px !important;
	height: 45px !important;
	font-size: 25px !important;
    padding: 0 !important;
}

.membership-button{
	border: 3px solid #FC9B04 !important;
	box-sizing: border-box !important;
	width: 180px !important;
	height: 52px !important;
	background: transparent !important;
	color: #FC9B04 !important;
	font-size: 25px !important;
    padding: 0 !important;
}

.booknow-button{
	background: #FC9B04 !important;
	width: 180px !important;
	height: 52px !important;
	color: #FFFFFF !important;
	font-size: 25px !important;
    padding: 0 !important;
}

.item-text{
	font-weight: normal !important;
	font-size: 33px !important;
	color: #19191B !important;
	margin: 10px 0 !important;
}

.cp-code-button{
	background: #FC9B04 !important;
	border: 1px solid #E1DDDD !important;
	box-sizing: border-box !important;
	font-size: 20.5px !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}