.header-verify-client {
  color: #FC9B04 !important
}

.disabled-label {
  color: #C7C7C7 !important
}

.disabled-input {
  border-bottom: 1px solid #C4C4C4 !important
}

.primary-color {
  color: #F05327 !important;
}

.button-color {
  background-color: #F05327 !important;
  color: white !important;
  margin-top: 5px !important
}

.margin-10 {
  margin-top: 10px !important
}

.grey-color {
  color: #565656 !important
}