@primary-color: #F05327;
@white-color: #ffff;
@client-primary-color: #FC9B04 !important;

input {
  border-color: @primary-color !important;
  border-radius: 0px !important;
}

button {
  // border-radius: 0px !important;
}

.home-container button, .home-container p, .home-container span, .tournament-text, .win-text, .home-container h1, .home-container h3{
  font-family: 'Roboto', sans-serif !important;
}
.home-container .details-btn{
  font-family: 'Rufina', serif !important;
}
.win-text{
  font-weight: 600 !important;
}
.second-header{
  height: 41px !important;
    padding: 0 !important;
    font-size: 24px !important;
    color: #EF9322 !important;
    width: 86px !important;
    border: 3px solid #EF9322 !important;
    border-radius: 0 !important;
    margin-right: 10px !important;
    font-weight: 300 !important; 
}
.second-header.signup{
  background: #EF9322 !important;
    color: #19191B !important;
    border: 3px solid #EF9322 !important;
    width: 99px !important;
    // margin-left: 10px;
    margin-right: 0 !important;
}
.home-header {
  background-color: #EF9322 !important;
  color: white !important;
  border: 2px solid #EF9322 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  height: 40px !important;
  font-size: 18px !important;
  padding-top: 10px !important;
  border-radius: 0px !important;
}

.header-icon{
  height: 19px;
  float: left;
  margin-right: 4px;
  background-size: 14px 18px !important;
  width: 15px; 
  
}

.logo-image{
  width: 9em !important;
  padding: 12px 0 !important;
}

.tri-image1{
  width: 17em !important;
    margin: 0 !important;
    position: absolute !important;
}

.social-btns button{
  background-color: black !important;

}
.site-phone{
  width: 50% !important;
    padding: 34px 0 0 24% !important;
}

.tri-image2{
  width: 4em !important;
}

.offer-text{
  position: absolute;
    margin: 0px 0 0 30px;
    color: #19191B;
    font-size: 20px;
}