@primary-color: #F05327;

.active-color {
  color: @primary-color
}

.nav-header.ui.secondary.pointing.menu .active.item{
  border-bottom: 4px solid !important;
  color: #F05327 !important;
  border-color: #F05327 !important;
}