.partner-color {
  color: #F05327 !important
}

.primary-size {
  font-size: 20px !important
}

.heading-text {
  text-align: center; 
  font-size: 40px; 
  font-weight: 500;
	color: #19191B
}

.heading-2-text {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #19191B;
  margin-bottom: 15px;
}

.center-align {
  display: flex; 
  justify-content: center
}

.backgroud {
  background: #FFFFFF; 
  padding: 100px 110px 40px; 
  font-size: 20px; 
  color: #565656
}

.image-style {
  display: block;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.padding-bottom-20 {
  padding-bottom: 20px
}

.padding-top-20 {
  padding-top: 50px
}

.partner-step-image {
  width: 50%;
  height: 50%; 
}

.top-step-image {
  width: 30%;
  height: 30%; 
}

.bottom-step-image {
  width: 20%;
  height: 20%; 
}

.partner-step-arrow-image {
  width: 20%;
  height: 20%;
  padding-top: 15%;
  padding-left: 5%;
}

.simple-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}