.arena-header{
    padding-top: 60px !important;
}
.arena-holder{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 408px;
    padding: 26px 90px;
}
.arena-text { 
    font-size: 20px;
    color: #747478;
    margin-bottom: 5px;
}

.gallary-text{
    font-size: 20px;
    color: #19191B;
    float: left;
}

.photo-link{
    font-size: 14px;
    float: right;
    padding: 20px 15px 0 0;
}

.gallary-text-holder{
    padding-top: 50px; 
    width: 100%;
    float: left;
}
.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg{
    width: 181px !important;
}

.arena-rate {
    font-size: 40px !important;
    color: #FC9B04 !important;
    padding: 50px !important;
}

.rate-time-holder, .arena-tabs-holder, .terms{
    background: #FFFFFF !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    margin-top: 20px;
}

.timing-holder h3{
    font-size: 32px;
    color: #747478;
    font-weight: normal;
    margin-bottom: 5px;
}

.timing-holder p{
    font-size: 24px;
    color: #747478;
}
.timing-holder strong{
    font-size: 24px;
    color: #FC9B04;
}

.time1{
    width: 50% !important;
    padding: 24px 20px 18px 75px !important;
    float: left;
}
.time2{
    width: 50% !important;
    float: left;
    padding: 24px 20px 18px 25px !important;
}

.arena-tabs-holder{
    padding: 50px 33px !important;
    margin-bottom: 20px;
}

.arena-tabs-holder .ui.secondary.pointing.menu .active.item, .arena-tabs-holder .ui.menu.six.item .item{
    font-size: 18px !important;
}
.arena-tabs-holder .ui.secondary.pointing.menu {
    padding-bottom: 20px !important;
    border-color: #747478;
    color: #19191B;
}

.arena-tabs-holder .ui.secondary.pointing.menu a{
    margin-left: 8% !important;
    width: 8%;
}
.arena-tabs-holder .ui.secondary.pointing.menu a:last-child{
    margin-left: 5% !important;
    width: 17%;
}

.arena-tabs-holder .ui.secondary.pointing.menu .active.item{
    border-bottom: 3px solid #F05327 !important;
}

.facilities-holder{
    padding: 50px 70px;
}
.facility-heading{
    color: #565656 !important;
    font-size: 32px !important;
}

.terms{
    padding: 50px !important;
    margin-bottom: 20px;
}