.profile-username {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
  line-height: 35px;
}

.profile-email {
  font-family: 'Roboto';
  font-style: Regular;
  font-size: 18px;
  color: #747478;
}

.profile-bookings-count {
  font-family: Roboto;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  color: #313B5A;
}

.profile-bookings {
  font-family: 'Roboto';
  font-style: Regular;
  font-size: 20spx;
  color: #747478;
}

.profile-image{
  border: 5px solid #F05327;
  padding: 15px;
}

.profile-heading{
  font-family: Roboto;
  
  font-weight: 500;
  
  font-size: 22px;
  float: left;
  color: #F05327;
}

.fts-rank{
  font-family: Roboto;
  line-height: 35px;
  font-size: 26px;
}

.fts-btn{
  background: #F05327 !important;
  font-family: Roboto !important;
  border: 1px solid #F05327 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  
  font-size: 15px !important;
  color: #FFFFFF !important;
  border-radius: 0 !important;
  display: inline-block;
  width: 135px !important;
  height: 37px !important;
  margin: 22px 0 0 30px !important;
}

.minton span{
  font-family: Roboto;
  font-size: 12px;
  color: #565656;
}
.minton img{
  width: 1.5em !important;
}

.profile-login-text, .profile-info-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;

  color: #F05327;
}

.login-info{
  width: 50%;
  height: 100px;
  padding-top: 40px;
}
.login-email, .change-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  color: #19191B;

}
.change-link{
  color: #3869E8;
}