.second-header {
  border: 1px solid white !important;
  background: transparent !important;
  color: white !important;
}
.how-it-works-buttom {
  background-image: url('../../../../dist/public/images/home/howitworksbutton.png');
}

.how-it-works-button {
  background: #F05327 !important;
  color: white !important;
}
.win-text{
  font-family: 'Ruda', sans-serif !important;
}